body {
    background-image: url("./images/background.jpg")
}
h1 {
    text-align: center;
    font-family: 'Audiowide', cursive;
}

h2{
    font-family: 'Audiowide', cursive;  
    text-align: center;
}




.bomb-grid1 {
width: 30px;
height: 30px;
display:inline-block;
border-top:1px solid black;
border-left:1px solid black;
border-bottom: 2px solid black;
border-right:2px solid black;
vertical-align: top;
margin-right: -3px;
margin-top: 0.5px;
background-color: rgb(0, 38, 69)

}
#player-one-bomb-grid{
    width: 350px;
    margin-top:30px;
    
}
.ship-grid1{
    width: 30px;
    height: 30px;
    display:inline-block;
    border-top:1px solid black;
    border-left:1px solid black;
    border-bottom: 2px solid black;
    border-right:2px solid black;
    vertical-align: top;
    margin-right: -3px;
    margin-top: 0.5px;
    background-color: rgb(0, 38, 69)
}

#player-one-ship-grid{
        width: 350px;
        display:inline-block;
    
   }
.space{
    height: 30px;
}
#player-one-grid {
    margin-left:35%;
}
.bomb-grid2 {
    width: 30px;
    height: 30px;
    display:inline-block;
    border-top:1px solid black;
    border-left:1px solid black;
    border-bottom: 2px solid black;
    border-right:2px solid black;
    vertical-align: top;
    margin-right: -3px;
    margin-top: 0.5px;
    background-color: rgb(0, 38, 69)
    }
    #player-two-bomb-grid{
        width: 350px;
        margin-top:30px;
        
    }
    .ship-grid2{
        width: 30px;
        height: 30px;
        display:inline-block;
        border-top:1px solid black;
        border-left:1px solid black;
        border-bottom: 2px solid black;
        border-right:2px solid black;
        vertical-align: top;
        margin-right: -3px;
        margin-top: 0.5px;
        background-color: rgb(0, 38, 69)
        
    }
    #player-two-ship-grid{
        width: 350px;
        display: inline-block;
        
    }
    #player-two-grid {
       margin-left:35%;
    
    }

 #ship-legend1 {
     width: 200px;
     height: 400px;
     border-top:1px solid black;
     border-left:1px solid black;
     border-bottom: 2px solid black;
     border-right:2px solid black;
     display:inline-block;
     vertical-align: top;
 }

 .carrier {
    height: 30px;
    width: 30px;
     border: 1px solid black;
     margin-left : 10px;
     margin-top: 10px;

 }
 #battleship1{
    height: 30px;
    width: 30px;
     border:1px solid black;
     display: inline-block;
     margin-left: 50px;
     margin-top: 10px;

 }
 #battleship2{
    height: 30px;
    width: 30px;
    border:1px solid black;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;

}

 .cruiser{
    height: 30px;
    width: 30px;
     border:1px solid black;
     display:inline-block;
     margin-left: 50px;
     margin-top: 90px;
 }
 #destroyer1{
    height: 30px;
    width: 30px;
     border:1px solid black;
     display:inline-block;
     margin-top: 130px;
     margin-left: 50px;
     
 }
 #destroyer2{
    height: 30px;
    width: 30px;
    border:1px solid black;
    display:inline-block;
    margin-top: 130px;
    margin-left: 90px;
    
}

 .submarine{
    height: 30px;
    width: 30px;
     border:1px solid black;
     display:inline-block;
     margin-top: 130px;
     margin-left: 140px;
}
.ship-selection {
    position: absolute;

}

#carrier-pic{
    /* height: 150px;
     width: 20px; */
     height: 30px;
     width: 30px;
}
#battleship-pic{
    /* height: 20px;
     width:120px; */
     height: 30px;
     width: 30px;
}
#battleship1-pic {
    /* height: 20px;
     width:120px; */
     height: 30px;
     width: 30px;
}   
#cruiser-pic {
    /* height: 20px;
     width:90px; */
     height: 30px;
     width: 30px;
}
#submarine-pic {
    /* width: 27px;
     height:20px; */
     height: 30px;
     width: 30px;
}
#destroyer-pic{
    /* width:20px;
    height:50px; */
    height: 30px;
    width: 30px;
}
#destroyer1-pic {
    /* width:20px;
    height:50px; */
    height: 30px;
    width: 30px;
}
#destroyer1-picc, #destroyer-picc, #submarine-picc, #cruiser-picc, #battleship1-picc, #battleship-picc,#carrier-picc {
    /* width:20px;
    height:50px; */
    height: 40px;
    width: 60px;
}

.current-ship {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 200px;
    font-family: 'Audiowide';
    color: white;
}
#selected-picture{
   min-width:25px;
    margin: 0 auto;
}
.white {
    background-color:white;
}
#selected-picture2{
    min-width:25px;
     margin: 0 auto;
 }
 .current-ship2 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 200px;
}
#buttons {
    text-align: center;
    
}

.explosion {
    width:30px;
    height: 30px;
}
.switch{
    text-align: center;
    background-color: rgb(93, 128, 168); 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
   font-size: 10px;
   font-family: 'Audiowide', cursive;
}
#player2{
    text-align: center;
    background-color: rgb(93, 128, 168); 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
   font-size: 10px;
   font-family: 'Audiowide', cursive;
}


